<p-toast baseZIndex="9999999"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-dialog header="ADD NEW USER" [(visible)]="showAddForm" [draggable]="false" blockScroll="true" appendTo="body"
    [modal]="true" [style]="{ width: '40vw' }" [responsive]="true">
    
    <div class="p-col-12" style="justify-content: center;display: grid;">
        <div class="p-field p-grid">
            <label for="name" class="p-col-4" style="width:100px">Name</label>
            <div class="p-col-8">
                <input id="name" placeholder="Name" [(ngModel)]="user.name" type="text" pInputText required> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="email" class="p-col-4" style="width:100px">Email</label>
            <div class="p-col-8">
                <input id="email" placeholder="Email" [(ngModel)]="user.email" type="text" pInputText required> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="gender" class="p-col-4" style="width:100px">Gender</label>
            <div class="p-col-8">
                <input id="gender" placeholder="Gender" [(ngModel)]="user.gender" type="text" pInputText required> 
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="status" class="p-col-4" style="width:100px">Status</label>
            <div class="p-col-8">
                <input id="status" placeholder="Status" [(ngModel)]="user.status" type="text" pInputText required> 
            </div>
        </div>
        <div class="p-grid p-field" style="justify-content: end;">
            <button pButton pRipple label="CANCEL" icon="pi pi-times" class="p-button-text p-mr-2" 
                (click)="cancel()">
            </button>
            <button pButton pRipple label="SAVE" icon="pi pi-check" class="p-button-primary p-mr-2" 
                (click)="save()">
            </button>
        </div>
    </div>
</p-dialog>

<div class="card">
    <div class="p-grid">
        <div class="p-col-2"></div>
        <div class="p-col-8">
            <h3>USERS</h3>
            <div style="display: flex;justify-content: right;">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" 
                (click)="openAddNew()">
            </button>
            </div>            
        </div>
        <div class="p-col-2"></div>
    </div>
    <div class="p-grid">
        <div class="p-col-2"></div>
        <div class="p-col-8">
            <div class="card">
                
                <p-table [value]="userData" [paginator]="true" [rows]="5" dataKey="id">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th style="width:8rem"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
                        <tr>
                            <td style="word-wrap: break-word;">{{user.name}}</td>
                            <td style="word-wrap: break-word;">{{user.email}}</td>
                            <td  style="word-wrap: break-word;">{{user.gender}}</td>              
                            <td  style="word-wrap: break-word;">{{user.status}}</td>
                            <td style="text-align:center">
                                <button pButton pRipple type="button" icon="pi pi-pencil"
                                    (click)="onClickEdit(user)" class="p-button-rounded p-button-text"></button>
                                <button pButton pRipple type="button" icon="pi pi-trash"
                                    (click)="onClickDelete(user)" class="p-button-rounded p-button-text p-button-danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="p-col-2"></div>
    </div> 
</div>